#main {
	width: 800px;
}
#palette {
	width: 800px;
}

div.color {
	border: 1px solid #ccc;
	border-radius: 5px;
	float: left;
	height: 80px;
	margin: 10px;
	width: 80px;
}

.color button {
	background: #fff;
	border: none;
	border-radius: 5px;
	color: #eee;
	font-size: 50px;
	height: 80px;
	line-height: 80px;
	opacity: 0.7;
	padding: 0;
	text-align: center;
	width: 80px;
}
.color button:hover, button.active {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
	opacity: 1;
}

div#options {
	clear: both;
	margin: 15px;
}

.color p {
	margin: 0;
}
.color input {
	margin: 5px;
	width: 285px;
}

.red div.ui-slider-range {
	background: #ef2929;
}
.green div.ui-slider-range {
	background: #8ae234;
}
.blue div.ui-slider-range {
	background: #729fcf;
}
.bpm div.ui-slider-range {
	background: #e9e9e9;
}
